* {
  margin: 0;
  font-family: Arial;
  border: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  background-color: #e3e6e6;
}

.navbar {
  height: 100%;
  width: 100%;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-logo {
  height: 10vh;
  width: 20vh;
  display: flex;
  align-items: center;
}

.logo1 {
  background-image: url("amazon_logo.png");
  background-size: cover;
  height: 50px;
  width: 100px;
}

.logo1 img {
  height: 7vh;
}

.border {
  border: 2px solid transparent;
}

.border:hover {
  border: 1.5px solid white;
}

/** BOX 2 **/

.nav-address {
  height: 10vh;
  width: 33.1vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 3.5vh;
}

.add-first {
  color: #cccccc;
  font-size: 0.85rem;
  margin-left: 15px;
}

.add-sec {
  font-size: 1rem;
  margin-left: 3px;
}

.add-icon {
  display: flex;
  align-items: center;
}

/** Nav Search Bar **/

.nav-search {
  display: flex;
  justify-content: space-evenly;
  background-color: pink;
  height: 6vh;
  width: 88vh;
  border-radius: 4px;
}

.search-select {
  background-color: #f3f3f3;
  width: 10%;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}

.search-input {
  width: 100%;
  font-size: 1rem;
  border: none;
}

.search-icon {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #febd68;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #0f1111;
}

.nav-search:hover {
  border: 2px solid orange;
}

/** BOX 4 **/

span {
  font-size: 0.7rem;
}

.nav-second {
  font-size: 0.8rem;
  font-weight: 700;
}

/** BOX 6 **/

.nav-cart i {
  font-size: 7vh;
}

.nav-cart {
  font-size: 0.85rem;
  font-weight: 700;
}

/** PANEL **/

.panel {
  height: 40px;
  background-color: #222f3d;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-evenly;
}

.panel-ops p {
  display: inline;
  margin-left: 15px;
}

.panel-ops {
  width: 70%;
  font-size: 0.85rem;
}

.panel-deals {
  font-size: 0.9rem;
  font-weight: 700;
}

/** hero section **/

.hero-section {
  background-image: url("hero_image.jpg");
  height: 380px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hero-msg {
  background-color: white;
  color: black;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  width: 80%;
  margin-bottom: 25px;
}

.hero-msg a {
  color: #007185;
}

/* shop section */

.shop-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #e2e7e6;
}

.box {
  height: 400px;
  width: 23%;
  background-color: white;
  padding: 20px 0px 15px;
  margin-top: 15px;
}

.box-img {
  height: 300px;
  background-size: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.box-content {
  margin-left: 1rem;
  margin-right: 1rem;
}

.box-content p {
  color: #007185;
}

/* footer  */

footer {
  margin-top: 15px;
}

.foot-panel1 {
  background-color: #37475a;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
}

.foot-panel2 {
  background-color: #222f3d;
  color: white;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
}

ul {
  margin-top: 20px;
}

ul a {
  display: block;
  font-size: 0.85rem;
  margin-top: 10px;
  color: #dddddd;
}

.foot-panel3 {
  background-color: #222f3d;
  border-top: 0.5px solid white;
  color: white;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  background-image: url("amazon_logo.png");
  background-size: cover;
  height: 50px;
  width: 100px;
}

.foot-panel4 {
  background-color: #0f1111;
  color: white;
  height: 80px;
  font-size: 0.7rem;
  text-align: center;
}

.pages {
  padding-top: 25px;
}

.copyright {
  padding-top: 5px;
}

@media screen and (max-width: 412px) {
  body,
  html {
    height: 100%;
    width: 100vh;
  }
  header {
    height: 100%;
    width: 100vh;
  }
  .add-first {
    font-size: 2vh;
    color: #bbb;
  }
  .add-sec {
    font-size: 2.3vh;
    color: #fff;
    font-weight: 600;
  }
  .navbar {
    padding: 0.5vh;
    height: 38vh;
    width: 100%;
    align-items: normal;
    justify-content: center;
    flex-wrap: wrap;
  }
  /* MENU BARS */
  .panel1 {
    height: 32%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8vh;
    color: #eee;
    order: -2;
  }
  /* LOGO */
  .logo {
    width: 55%;
    height: 33%;
    order: -2;
  }
  .logo img {
    position: relative;
    top: 0.5vh;
    left: 2vh;
    height: 8vh;
  }
  /* SIGN IN */
  .signin {
    display: flex;
    gap: 0.6vh;
    align-items: center;
    color: #fff;
    height: 33%;
    width: 20%;
    font-size: 3.1vh;
    font-weight: 600;
    order: -2;
  }
  .nav-signin span {
    color: #eee;
  }

  /* ADDRESS */
  .nav-address {
    display: none;
  }
  /* SEARCHBOX */
  .nav-search {
    height: 28%;
    width: 96%;
    background: #fff;
    border-radius: 1vh;
    justify-content: space-between;
  }

  .search-select {
    display: none;
  }

  .search-input {
    width: 89%;
    padding-left: 2.5vh;
    font-size: 3vh;
    border-top-left-radius: 1vh;
    border-bottom-left-radius: 1vh;
  }

  .search {
    width: 10%;
    font-size: 5vh;
    border: none;
    border-top-left-radius: 1vh;
    border-bottom-left-radius: 1vh;
  }

  /* SHOPING */
  .nav-cart {
    width: 14vh;
    height: 33%;
    order: -1;
  }
  .navcart i {
    top: 0.6vh;
    position: relative;
    font-size: 8vh;
    color: #fff;
  }

  /* HERO PAGE */
  .hero-section {
    width: 100%;
    background: url("mainImages/Hero-Image.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
  }

  /* CARDS AND PRODUCTS */
  .shop-section {
    height: 1990vw;
    padding: 0vh;
    gap: 1vh;
    flex-wrap: wrap;
  }
  .box {
    padding: 1vh 4vh;
    height: 120vh;
    width: 100%;
  }
  .box-content h2 {
    margin: 3vh 0vh;
  }
  .box-content p {
    text-decoration: none;
    font-size: 3.5vh;
    color: #017184;
  }
  .box-img img {
    height: 83%;
  }

  /* FOOTER */
  footer {
    height: 80vh;
  }
  .foot-panel1 {
    height: 15vh;
    flex-direction: column;
  }
  .foot-panel2 {
    position: relative;
    height: 70vh;
  }
  
  .foot-panel4{
    padding-top: 3vh;
    justify-content: start;
    align-content: space-between;
  }
  
}
